@media only screen and (max-width: 600px) {
   
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      
    }

    .nav-bar {
       align-self: auto;
    }

    .nav-menu-link {
        text-decoration: none;
        color: #1C2226;
        padding: 0.8rem 1.2rem;
    }
    
    .nav-menu-link:hover {
        background: #5B7349;
        transition: .5s;
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 20px;
    }

    .topnav.responsive {
        margin-top: 60px;
        background-color:#5B7349;
        height: auto;
        
    }

    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

     
   .nav-menu-link {
    text-decoration: none;
    color: #1C2226;
    padding: 0.8rem 1.2rem;
    border-radius: 5rem;
}

   .nav-menu-link:hover {
    background:  #F2F2F2;

    transition: .5s;
}
.content-table {
    width:80%;
    margin:0;
}
.tablaprecio {
    margin:  0;
    width: 10%;
}
 .precio {
    display: none;
 }
table th, table td {
    display: block;
    margin: 0;
    padding: 1px;
    border-bottom: 0;
}


}

.topnav .icon {
    display: none;
    color: #18261E;
  }

#contenedor-sobre-mi {
    margin: 0rem 2rem;
    display: flex;
    flex-direction: column;
}

#parrafos-sobre-mi {
    margin-bottom: 1rem;
}

#sobre-mi p {
    font-size: 1.8rem;
    line-height: 3rem;
    text-align: justify;
}

#boton-contacto-talleres {
    padding: 1rem 2rem;
    border-radius: 1rem;
    align-self: center;
    text-decoration: none;
    text-align: center;
    background: #3D5939;
    border-radius: 5rem;
    color: #ffffff;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, .2);
}

#boton-contacto-talleres:hover {
    background: #5B7349;
    transition: .5s;
}

#contenedor-fb-posts {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#contenedor-fb-posts iframe {
    margin: 1rem;
    max-width: 32%;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    padding: 1.3rem 2rem;
    width: 100%;
    background-color: rgba(156, 158, 153, 0.8);
    border: none;
    border-bottom: 0.1rem solid #fafafa;
    color: #fafafa;
    cursor: pointer;
}

#first-accordion-header {
    border-radius: 1rem 1rem 0 0;
}

.last-accordion-header {
    border-radius: 0 0 1rem 1rem;
}

.accordion {
    margin: 2rem;
}

.accordion-header {
    font-size: 1.4rem;
    font-style: italic;
}

.accordion-header.active {
    background-color: #5B7349;
}

.accordion-header.active i {
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
}

.accordion-body {
    padding: 0 1.5rem;
    background-color: #f3f3f3;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    text-align: justify;
}

.accordion-body.active {
    max-height: 30rem;
    padding: 1.5rem;
}

/* TABLAS a revisar*/

.tablaprecio {
    width: 100%;
}

.content-table {
    position: relative;
    width: 90%;
    padding: 5px;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin:  2rem auto;
}
table {
    position: absolute;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    font-family: sans-serif;
    min-width: 450px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #980081;
    color: #ffffff;
    text-align: middle;
}

table th, table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}
table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}


/* MEDIAQUERY PARA RESPONSIVE */

@media (max-width: 768px) {
    #contenedor-fb-posts {
        flex-wrap: wrap;
        justify-content: center;
    }
    #contenedor-fb-posts iframe {
        max-width: none;
    }
}

.tablaprecio {
    
    align-content: center;
    justify-content: center;
}
table {
  
    text-align: center;
    font-size: 2rem;
}
th { 
    padding: 5px;
    border: 1.5px solid #18261E;
    background-color: #3D5939;
}

td {
  
    padding: 3px;
    border: 1.5px solid #2B4C2D;
    background-color: #def3aa;
}