* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 1fr 0.15fr .5fr .2fr 1.8fr 1fr 0.40fr;
    grid-template-columns: 1fr 1fr;

    grid-template-areas: "header   header"
                          "nav     nav"
                        "pedido    pedido"
                        "pagos     pagos"
                        " envios    envios"
                        "contacto   contacto"
                        "footer    footer";
    grid-gap: 10px;
    height: 100vh;
    background-color: rgba(225, 236, 236, 0.904);
}

.header {
    height: auto;
    grid-area: header;
    text-align: center;
    background-image: url(img/jason-leung-Xaanw0s0pMk-unsplash.png);
    background-size:cover;
    padding: 0;
}


.header > h1 {
    color: rgb(33, 16, 71);
    font-family: brim-narrow-combined-1, sans-serif;
    font-size:6em;
    text-shadow: 5px 5px 10px white;
}
 .header > h2 {
    color: rgb(33, 16, 71);
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    text-shadow: 5px 5px 10px white;
}

.header > h3 {
    color: rgb(33, 16, 71);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    font-weight: bold;
    display: inline;
    text-shadow: 5px 5px 10px white;
}

.nav {
    grid-area: nav;
    height: auto;
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    text-shadow: 5px 5px 10px black;
    justify-content: space-evenly ;
    margin-top: 0;
    
}

.nav > .categorias > ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 2px;
    border: 2px solid black;
    
}

.nav > .categorias > ul > li {
    float: left;
    margin-top: 0;
}

.nav > .categorias > ul > li > a {
    color: black;
    text-decoration: none;
    padding: 18px;
}

.nav > .categorias > ul > li:hover > a {
    color: rgba(33, 203, 209, 0.918);
    text-shadow: 5px 5px 10px black;
}

.pedido {
    grid-area: pedido;
}

.pagos {
    grid-area: pagos;
}

.pedido > h1 {
    text-align: center;
    padding: 5px;
}
.pagos > h1 {
    text-align: center;
}

.pagos > ul {
    text-align: center;
}
.pagos > ul > li {
    list-style-type:circle;
    list-style: circle;
    text-align: center;
    text-shadow: #016676;
    display: inline;
}
.envios {
    grid-area: envios;
    text-align: center;
}

table {
    align-content: center;
}

table, th, td {
    border:1px solid black;
    width: 60%;
    align-items: center;
    justify-content: space-evenly ;
    margin-top: 20px;
    
}

th {
    background-color: darkseagreen;
    padding: 15px;
}

td {
    padding: 15px;
}

.contacto {
    grid-area: contacto;
}

#formulario {
    align-content: center;
    align-items: center;
}

form {
    width: 60%;
    padding: 20px;
    font-size: medium;
    font-weight: bold;
}
fieldset {
    width: 100%;
    padding: 0px 20px;
    
}
legend {
    padding: 5px;
}
input {
    width: 100%;
    padding: 5px 1px;
    margin-bottom: 8px;
    margin-left: 2px;
    margin-right: 5px;
    box-sizing: border-box;
    border-color: blue;
  }

  input:focus {
    background-color: lightblue;
    
  }

  button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 50%;
    align-items: center;
  }

  textarea {
    width: 100%;
    height: 150px;    
    box-sizing: border-box;
    padding-top: 2px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    text-align: left;
  }
.footer {
    grid-area: footer;
    text-align: center;
    height: 100px;
    text-shadow: 5px 5px 10px white;
}

.item {
    background-color: #016676;
    padding: 10px;
    border-radius: 5px;
}