#portada-index {
    position: relative;
}

.img-portada {
    width: 100%;
   
}

#img-portada-mobile {
    display: none;
}

.div-portada {
    position: absolute;
    width: 90%;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#frase-portada {
    font-size: 3.8rem;
    color: #ffffff;
    margin: 2rem;
    font-style: italic;
    font-weight: 300;
}

#presentacion-portada {
    font-size: 3.8rem;
    color: #ffffff;
    margin: 2rem;
    font-style: italic;
    font-weight: 300;
}

#boton-portada {
    text-decoration: none;
    padding: 1.3rem 2rem;
    text-transform: uppercase;
    font-size: 2rem;
    background: #b08ce0;
    border-radius: 5rem;
    cursor: pointer;
    color: #ffffff;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, .2);
}

#boton-portada:hover {
    background: #9d78ce;
    transition: .5s;
}

.group-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-card {
    padding: 3rem 1rem 0.5rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, .2);
    background: #fafafa;
    min-width: 20rem;
    width: 17%;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.product-card img {
    margin-bottom: 1rem;
}

.product-card h3 {
    font-size: 1.8rem;
    text-align: center;
    margin: 1rem;
    height: 4rem;
}

.product-card p {
    font-size: 1.4rem;
    color: #696868;
    padding: 1rem;
    align-self: flex-end;
    margin-top: 1rem;
}

.product-card:hover {
    transform: scale(1.1);
}





/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: 1fr 0.15fr 1fr 2.5fr 1fr 0.40fr;
    grid-template-columns: 1fr 1fr;

    grid-template-areas: "header   header"
        "nav     nav"
        "saludo     saludo"
        "slide      slide"
        " sorteo    especial"
        "footer    footer";
    grid-gap: 10px;
    height: 100vh;
    background-color: rgba(225, 236, 236, 0.904);
}

@media only screen and (max-width: 600px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 100%;

        grid-template-areas: "header"
            "nav"
            "saludo"
            "slide"
            "sorteo"
            "especial"
            "footer";
        grid-gap: 10px;
        height: 100vh;
        background-color: rgba(225, 236, 236, 0.904);
    }

    .nav>.categorias>ul {
        flex-direction: column;
    }

    .nav>.categorias>ul>li {
        list-style: none;
        float: left;
        padding: 3px;


    }

    .nav>.categorias>ul>li:hover {
        background-color: rgba(0, 0, 0, 0.226);
        color: white;
    }

    .envios>.informacion>ul {
        flex-direction: column;

    }

    .envios>.informacion>ul>li {
        float: left;
        margin-top: 0;
    }

    .envios>.informacion>ul>li>a {
        color: black;
        text-decoration: none;
        padding: 18px;
    }

    .envios>.informacion>ul>li:hover>a {
        color: rgba(33, 203, 209, 0.918);
        text-shadow: 5px 5px 10px black;

    }

    .especial {
        grid-area: especial;
        position: relative;
        max-height: 400px;
    }

    .especial>a>img {
        object-fit: cover;
        width: 100%;
        height: 94%;
    }

    .ingresos {
        grid-area: ingresos;
        max-height: 280px;
    }

    .ofertas {
        grid-area: ofertas;
        max-height: 480px;
    }
}

.header {
    height: auto;
    grid-area: header;
    text-align: center;
    background-image: url(img/jason-leung-Xaanw0s0pMk-unsplash.png);
    background-size: cover;
    padding: 0;
}


.header>h1 {
    color: rgb(33, 16, 71);
    font-family: brim-narrow-combined-1, sans-serif;
    font-size: 6em;
    text-shadow: 5px 5px 10px white;
}

.header>h2 {
    color: rgb(33, 16, 71);
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    text-shadow: 5px 5px 10px white;
}

.header>h3 {
    color: rgb(33, 16, 71);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    font-weight: bold;
    display: inline;
    text-shadow: 5px 5px 10px white;
}

.nav {
    grid-area: nav;
    height: auto;
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
    text-shadow: 5px 5px 10px black;
    justify-content: space-evenly;
    margin-top: 0;

}

.nav>.categorias>ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 2px;
    border: 2px solid black;

}

.nav>.categorias>ul>li {
    float: left;
    margin-top: 0;
}

.nav>.categorias>ul>li>a {
    color: black;
    text-decoration: none;
    padding: 18px;
}

.nav>.categorias>ul>li:hover>a {
    color: rgba(33, 203, 209, 0.918);
    text-shadow: 5px 5px 10px black;
}

.saludo {
    grid-area: saludo;
    border: 4px;
    border-color: black solid;
}

.saludo>h1 {
    font-size: 1.6em;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.saludo>p {
    text-align: center;
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.saludo>p>span>a {
    color: black;
    font-style: italic;
    font-weight: bold;
}

.slide {
    grid-area: slide;
}




.sorteo {
    grid-area: sorteo;

}

.sorteo>h1 {
    color: black;
    text-shadow: 5px 5px 10px black;
    text-align: center;
    background-color: powderblue;
    opacity: 0.8;
}

.especial {
    grid-area: especial;
    position: relative;
}

.especial>h1 {
    color: black;
    text-shadow: 5px 5px 10px black;
    text-align: center;
    background-color: powderblue;
    opacity: 0.8;
}

/*.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: powderblue;
}

.especial:hover > .overlay {
    opacity: 0.7;
}

.especial > .overlay > .text > a {
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 5px 5px 10px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.especial > a > img {
    object-fit: cover;
    width: 100%;
    height: 89%;
    opacity:0.7 ;
}
*/


/* .footer {
    grid-area: footer;
    text-align: center;
    height: 100px;
    text-shadow: 5px 5px 10px white;
}


.item {
    background-color: #016676;
    padding: 10px;
    border-radius: 5px;
} */